
@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>聊天室</title>
    <script src="~/Scripts/jquery-1.6.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <style type="text/css">
        #chatbox {
            width: 100%;
            height: 500px;
            border: 2px solid blue;
            padding: 5px;
            margin: 5px 0px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .linfo {
        }

        .rinfo {
            text-align: right;
        }
    </style>
    
</head>
<body>
    <h3>大众聊天室</h3>
    <div id="chatbox">
    </div>
    <div>
        <span>聊天名称：</span><input type="text" name="UserName" id="users" value="" />
        <span>聊天对象：</span><input type="text" name="ClientName" id="clientname" value="" />
    </div>
    <div>
        <textarea cols="5" rows="3" id="message"></textarea>
        <input type="button" value="发送消息" id="btnSend" />
    </div>
    <script type="text/javascript">

        $(function () {
            //singalRMethod.init();
            singalRMethod.init();
            var clientName = $("#clientname").val();
            var eChatBox = $("#chatbox");
            var eUsers = $("#users");

            var chat = $.connection.chat;
            $.connection.hub.qs = { "clientname": clientName };
            chat.state.test = "test";

            chat.client.receiveMessage = function (dt, cn, msg) {
                debugger
                var clsName = "linfo";
                if (cn == clientName || cn.indexOf("您对") >= 0) clsName = "rinfo";
                eChatBox.append("<p class='" + clsName + "'>" + dt + " <strong>" + cn + "</strong> 说：<br/>" + msg + "</p>");
                eChatBox.scrollTop(eChatBox[0].scrollHeight);
            }

            chat.client.userChange = function (dt, msg, users) {
                debugger
                eChatBox.append("<p>" + dt + " " + msg + "</p>");
                eUsers.find("option[value!='']").remove();
                for (var i = 0; i < users.length; i++) {
                    if (users[i].Value == clientName) continue;
                    eUsers.append("<option value='" + users[i].Key + "'>" + users[i].Value + "</option>")
                }
            }

            $.connection.hub.start().done(function () {

                $("#btnSend").click(function () {
                    var toUserId = eUsers.val();
                    if (toUserId != "") {
                        chat.server.sendOne(toUserId, $("#message").val())
                            .done(function () {
                                //alert("发送成功！");
                                $("#message").val("").focus();
                            })
                            .fail(function (e) {
                                alert(e);
                                $("#message").focus();
                            });
                    }
                    else {
                        chat.server.send($("#message").val())
                            .done(function () {
                                //alert("发送成功！");
                                $("#message").val("").focus();
                            })
                            .fail(function (e) {
                                alert(e);
                                $("#message").focus();
                            });
                    }
                });

            });
        });
        var signalRParam = {
            userList: null,
            conn: null,
            chat:null
        };
        var singalRMethod = {
            init: function () {
                singalRMethod.getUserList();

                //singalRMethod.initConnect();
            },
            eventBind: function () {

            },

            //获取用户列表
            getUserList: function () {
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: '/api/SingnalR/GetUserList',
                    success: function (res) {
                        signalRParam.userList = res;
                        singalRMethod.initUser();
                        //singalRMethod.initConnect();
                    },
                    error: function () {

                    }
                })
            },

            //初始化页面用户
            initUser: function () {
                var index = Math.floor(Math.random() * 3); 
                if (signalRParam.userList) {
                    signalRParam.userList[index];
                    $("#clientname").val(signalRParam.userList[index].Name);
                }
                else
                    $("#clientname").val("test" + index);
            },

            initConnect: function () {
                var clientName = $("#clientname").val();
                var eChatBox = $("#chatBox");
                var eUsers = $("#users");

                var conn = $.hubConnection();
                signalRParam.conn = conn;
                conn.qs = { "clientname": clientName };
                conn.start().done(function () {
                    var chat = signalRParam.conn.createHubProxy("chat");
                    signalRParam.chat = chat;
                    $("#btnSend").click(function () {
                        var toUserName = eUsers.val();
                        if (toUserName != "") {
                            chat.invoke("sendOne", toUserName, $("#message").val())
                                .done(function () {
                                    //alert("发送成功！");
                                    $("#message").val("").focus();
                                })
                                .fail(function (e) {
                                    alert(e);
                                    $("#message").focus();
                                });
                        }
                        else {
                            chat.invoke("send", $("#message").val())
                                .done(function () {
                                    //alert("发送成功！");
                                    $("#message").val("").focus();
                                })
                                .fail(function (e) {
                                    alert(e);
                                    $("#message").focus();
                                });
                        }
                    });

                });
            },

            //
            receviceMessage: function () {
                
                signalRParam.chat.on("receiveMessage", function (dt, cn, msg) {
                    debugger
                    var clsName = "linfo";
                    if (cn == clientName || cn.indexOf("您对") >= 0) clsName = "rinfo";
                    eChatBox.append("<p class='" + clsName + "'>" + dt + " <strong>" + cn + "</strong> 说：<br/>" + msg + "</p>");
                    eChatBox.scrollTop(eChatBox[0].scrollHeight);
                });
            },

            //
            userChange: function () {
                //signalRParam.chat.on("userChange", function (dt, msg, users) {
                //    eChatBox.append("<p>" + dt + " " + msg + "</p>");
                //    eUsers.find("option[value!='']").remove();
                //    for (var i = 0; i < users.length; i++) {
                //        if (users[i].Value == clientName) continue;
                //        eUsers.append("<option value='" + users[i].Key + "'>" + users[i].Value + "</option>")
                //    }
                //});
            }

        }
    </script>
</body>
</html>